// Specific CSS for your home-page
.hero_boat {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

.hero_boat h2 {
  font-size: 60px;
  color: white;
}

.subtitle {
  margin-bottom: 30px;
  text-align: center;
}

.all_boats .card {
  height: 500px;
}

.all_boats .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.all_boats .card-text {
  border-color: lightgray;
}

.all_boats .card-img-top {
  height: 250px;
}
