.form {
    margin-top: 70px;
    background: white;
    padding: 20px;
    border-radius: 6px;
  }

  .container {
    height: 100%;
    width: 100%;
    margin-top: 40px;
  }

  .boat-card {
    background: white;
    padding: 20px;
    border-radius: 6px;
  }
