.title_index {
  padding-top: 20px;
  margin-left: 15px;
}

.content {
  display: flex;
  justify-content: flex-start;
  // flex-direction: column;
}

.cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  align-items: start;
  width: 50%;
}

.card_index {
  height: 350px;
  display: grid;
  grid-auto-rows: auto;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.card_index .card-img-top {
  background-size: cover;
  height: 200px;
}

.card_index:hover .card-img-top {
  opacity: 0.6;
}

.card_index:hover {
  transition: box-shadow 0.2s ease-in, transform 0.2s ease-in;;
  text-decoration: none;
  box-shadow: 0 9px 10px rgba(0,0,0,.1);
  transform: translateY(-9px);
}

.card_index a {
  text-decoration: none;
  color: black;
}

#map {
  // width: 50%;
  // flex-grow: 2;
  margin-top: 18px;
  margin-bottom: 18px;
  height: 100vh;
  position: sticky;
  top: 0;
}

.map-img {
  width: 100%;
  // flex-grow: 2;
  height: auto;
}

// .cards .card_index {
//   height: 500px;
// }

.cards .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cards .card-title {
  height: 50px;
  font-weight: bold;
}

.card-rank {
  margin-top: 0;
  margin-bottom: 10px;
  height: 20px;
  color: gold;
}
.fa-anchor {
  padding: 0 2px;
}

// .cards .card-img-top {
//   height: 250px;
// }
// .card_index {
//   // background-size: cover;
//   // background-position: center;
//   // height: 150px;
//   // border-radius: 1px;
//   // box-shadow: 0 0 10px rgba(0,0,0,0.2);
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
// //   font-size: 22px;
// //   color: white;
// //   font-weight: bolder;
// //   text-shadow: 0 0 10px rgba(0,0,0,0.7);
// }

// .cards {
// flex-grow: 1;
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-gap: 16px;
//   padding: 16px;
// }
