.navbar-lewagon {
  justify-content: space-between;
  background: #02C3BD;
  color: #CAF7E2;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  vertical-align: baseline;
  color: #CAF7E2;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
